services:
  rmid_web:
    build: .
    command: bundle exec rails s -b '0.0.0.0' -p 3002
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3002:3002"
    environment:
      DATABASE_HOST: sparc_db
      TEST_DATABASE_HOST: sparc_db_test
      DATABASE_USERNAME: root
      DATABASE_PASSWORD: root_password
      DATABASE_NAME: rmid-docker_development
      TEST_DATABASE_NAME: rmid-docker_test
      RAILS_ENV: development
      ## Sparc Info
      SPARC_DATABASE_NAME: sparc-docker_development
      SPARC_TEST_DATABASE_NAME: sparc-docker_test
      TZ: America/New_York
      SELENIUM_URL: http://selenium_chrome:4444/wd/hub
      CAPYBARA_APP_HOST: http://rmid_web:3002
    env_file:
      - .env
    depends_on:
      - selenium_chrome
    links:
      - selenium_chrome
    networks:
      - sparc_network

  selenium_chrome:
    image: selenium/standalone-chrome:latest
    platform: linux/amd64
    ports:
      - "4444:4444"
    networks:
      - sparc_network

networks:
  sparc_network:
    external: true