SPARC_API=http://sparc_api
EIRB_API=http://eirb_api
COEUS_API=http://coeus_api
ADMINS="sal20,lmf5,sih3,weh6,kyh201,bem24,kal200,sampsonr,wih205"
DEVELOPERS="kyg200"
RMID_LINK=https://rmid.musc.edu
ENVIRONMENT='staging'
SPARC_URL='http://sparc.musc.edu'
EIRB_URL='http://eirb.healthsciencessc.org'
EPDS_URL='http://erma.musc.edu/cgi-bin/grants_pi/admin/index.cgi'
ABOUT_URL=’http://horseshoe.musc.edu/research/rmid'
EIRB_API_TOKEN=ABC123
SLACK_WEBHOOK_URL='https://hooks.slack.com/services/T0ALDSB7/B52U004V/AVOTobzySzfopB7bqwWoxRUS'
SPARC_API_TOKEN=abjkdjfkdjflkdj39393903
CRONJOB_STATUS_WEBHOOK=https://hooks.slack.com/services/T03ALDB7/BDPMP20Y/2aWDnjnZ17MQPqFvQdBmnoZ7
REMOTE_HOST=rmid.musc.edu
REMOTE_USERNAME=anc63
REMOTE_HOST_APPLICATION_FOLDER=/var/www/rails/research_master_id/current
