SPARC_API=http://sparc_api
EIRB_API=http://eirb_api
ADMINS="sal20,lmf5,sih3,weh6,kyh201,bem24,kal200,sampsonr,wih205"
DEVELOPERS="kyg200"
RMID_LINK=https://rmid.musc.edu
ENVIRONMENT='staging'
SPARC_URL='http://sparc.musc.edu'
EIRB_URL='http://eirb.healthsciencessc.org'
EPDS_URL='http://erma.musc.edu/cgi-bin/grants_pi/admin/index.cgi'
ABOUT_URL=’http://horseshoe.musc.edu/research/rmid'
EIRB_API_TOKEN=
CRONJOB_STATUS_WEBHOOK=https://hooks.slack.com/services/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
