%div{ class: 'modal fade', id: 'newResearchMasterModal', tabindex: '-1' }
  .modal-dialog
    .modal-content
      .modal-header
        %button{ class: 'close', data: { dismiss: 'modal' } }
          %span
            &times;
        %h4.modal-title
          New Research Master Record
      .modal-body
