#header-logos {
  top: 0px;
  position: fixed;
  z-index: 1031;
  background: white;

  .org-logo, .rmid-lgoo, .vp-logo {
    height: 110px;
  }

  .rmid-logo {
    h1 {
      margin: 35px 0px;
      color: #4A708E;
      text-shadow: 3px 3px 3px #CCCCCC;
    }
  }

  .rmid-logo:hover, .vp-logo:hover{
    text-decoration: none;
  }

  .vp-logo {
    h3 {
      margin-top: 28px;
      margin-bottom: 29px;
      color: #539DC2;
    }
  }
}

body {
  padding-top: 160px;
}

.alert {
  margin-bottom: 0;
}
