#header-logos {
  top: 0px;
  position: fixed;
  z-index: 1031;
  background: white;

  .org-logo, .rmid-lgoo, .vp-logo {
    height: 110px;
  }

  .rmid-logo {
    h1 {
      margin: 35px 0px;
    }
  }

  .rmid-logo:hover, .vp-logo:hover,
  .rmid-logo:focus, .vp-logo:focus {
    text-decoration: none;
  }

  .vp-logo {
    h3 {
      margin-top: 28px;
      margin-bottom: 29px;
    }
  }
}

body {
  padding-top: 160px;
}

.alert {
  margin-bottom: 0;
}

.modal-body {
  display: inline-block;
  width: 100%;
}

.instructions {
  display: inline-block;

  .page-header {
    margin: 9px 0px;

    h1, h2, h3, h4, h5, h6 {
      margin: 0px;
    }
  }
}