.instructions {
  display: inline-block;

  .page-header {
    margin-top: 0px;
    margin-bottom: 9px;

    h1, h2, h3, h4, h5, h6 {
      margin: 0px;
    }
  }
}

#research-master-records {
  display: inline-block;
  width: 100%;

  tr.rm-row {
    cursor: pointer;
  }
}
