- if target.errors.any?
  #error-explanation
    %h4
      = pluralize(target.errors.count, 'error') 
      prohibited this record from being saved:
    %ul
      - target.errors.full_messages.each.each do |msg|
        %li= msg