.row
  .col-xs-4
    %a{ href: t(:header_logos)[:org_link], target: '_blank' }
      = image_tag 'musc_logo.jpg', alt: raw(t(:header_logos)[:org_text]),
        height: 110, style: "padding-bottom:10px;"
  .col-xs-4
    %a.rmid-logo{ href: ENV.fetch('RMID_LINK') }
      %h2.text-center
        = t(:header_logos)[:rmid_text]
  .col-xs-4
    %a.vp-logo{ href: t(:header_logos)[:vp_link], target: '_blank' }
      %h3.text-center
        = raw(t(:header_logos)[:vp_text])
