octopus:
  environments:
    - test
    - development
    - testing
    - staging
    - production
  development:
    sparc:
      adapter: mysql2
      username: root
      database: sparc-request_development
    eirb:
      adapter: sqlserver
      host: 128.23.183.156
      port: 1433
      username: eIRBExtract
      password: get2eIRB1nfo
      database: TEST
      tds_version: 8.0
  test: # configured for travis-ci
    sparc:
      adapter: mysql2
      username: travis
      database: test_sparc_request # for travis-ci, needs to match sparc-request test database name
