development:
  adapter: mysql2
  encoding: utf8
  username: user
  password: password
  port: 3306
  timeout: 5000
  pool: 5
  host: host
  database: db

# Docker Config Example
# default: &default
#   adapter: mysql2
#   username: <%= ENV['DATABASE_USERNAME'] %>
#   password: <%= ENV['DATABASE_PASSWORD'] %>
#   host: <%= ENV['DATABASE_HOST'] %>
#   encoding: utf8
#   timeout: 5000
#   pool: 5
#   variables:
#    sql_mode: TRADITIONAL
# 
# development:
#   <<: *default
#   database: <%= ENV['SPARC_DATABASE_NAME'] %>